* {
  box-sizing: border-box;
}

.open-sans-google {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.tags {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  font-size: 24px;
  background-color: black; /* Black background */
  color: gold; /* Gold text color */
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.tag.active {
  background-color: gold; /* Gold background when active */
  color: black; /* Black text color when active */
}

body {
  margin: 0;
  background: #000;
  color: #f5f6f7;
}

hr {
  width: 800px;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 42px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  margin: 0 auto;
}

.gallery img {
  height: 400px;
  width: 70vh;
  object-fit: cover;
}

footer {
  padding: 50px 10px;
  display: flex;
  gap: 550px;
  justify-content: center;
  font-size: 18px;
}

footer img {
  width: 50px;
  object-fit: cover;
}

@media (min-width: 701px) {
  .tag:hover {
    background-color: #333; /* Darker shade on hover */
    color: gold; /* Gold text color on hover */
  }
}

@media (max-width: 700px) {
  .gallery {
    margin: 0;
    gap: 10px;
    padding: 0;
  }

  .tag {
    font-size: 20px;
  }

  .tags {
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .gallery img {
    height: 240px;
  }

  hr {
    width: 180px;
  }

  footer {
    padding: 30px 10px;
    gap: 60px;
  }
}
